.product-card-page {
  .product-card-content {
    align-items: center;
    padding: 19vh 0 7vh 0;
  }
  .item-wrap {
    align-items: center;
  }
  .product-info-wrap {
    flex-direction: column;
    max-width: 520px;
    min-width: 400px;
  }
  .product-item {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    & > div {
      flex: 1;
    }
    .text-block {
      max-height: 45vh;
    }
  }
  .product-characteristic {
    font-size: 1.2rem;
    line-height: 2.5rem;
    letter-spacing: .125rem;
    color: $white;
    .title {
      text-transform: uppercase;
      font-size: 1.4rem;
      margin: 20px 0 10px 0;
    }
    ul {
      .bar {
        margin: 10px 0;
      }
    }
  }
  .product-card-carousel {
    overflow-y: hidden;
    .slick-slide {
      width: 100% !important;
    }
    .slick-dots {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      & > *:not(.slick-active) {
        opacity: .4;
      }
      .img-wrap {
        width: get-vw(110px);
        height: get-vw(110px);
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $blue;
        margin-top: -1px;
        img {
          width: auto;
          height: 70%;
        }
      }
    }
  }
  .product-image {
    max-width: 600px;
    min-width: 300px;
    display: block !important;
    margin: 0 auto !important;
    height: inherit;
    img {
      display: block;
      margin: 0 auto;
      width: auto;
      height: 100%;
      max-height: calc(100vh - 17vh - 7vh);
    }
  }
  .btn {
    margin-top: 40px;
    width: 190px;
  }
}

@media (min-width: 1920px) {
  .product-card-page {
    .product-card-carousel {
      .slick-dots {
        .img-wrap {
          width: 110px;
          height: 110px;
        }
      }
    }
  } 
}

